{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Section promo -->
			<section class="sect__promo">
				<h2 class="w3c">&nbsp;</h2>
				
				<!-- Slider -->
				<div class="promo__slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide">
									<div class="promo-slide__bg bg color-bg" style="background-image: url('img/promo/1.png');"></div>
									<div class="promo-slide__content">
										<div class="container">
											<div class="promo-slide__content--block">
												<h3 class="promo-slide__title">Специальное<br>предложение!</h3>
												<p class="promo-slide__text">Умягчитель <strong>ГЕЙЗЕР-1054</strong> по специальной цене:</p>
												<p class="promo-slide__price price">27 000</p>
												<a href="page-product.html" class="btn__with-logo letter-spacing">
													<span>Подробнее</span>
													<span class="btn__with-logo_logo">
														<img src="img/btn-logo.svg" alt="Waterbel">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide">
									<div class="promo-slide__bg bg color-bg" style="background-image: url('img/promo/1.png');"></div>
									<div class="promo-slide__content">
										<div class="container">
											<div class="promo-slide__content--block">
												<h3 class="promo-slide__title">Waterbel<br>Компания №1 в Белгороде!</h3>
												<p class="promo-slide__text">Умягчитель <strong>ГЕЙЗЕР-1054</strong> по специальной цене:</p>
												<p class="promo-slide__price price">27 000</p>
												<a href="page-product.html" class="btn__with-logo letter-spacing">
													<span>Подробнее</span>
													<span class="btn__with-logo_logo">
														<img src="img/btn-logo.svg" alt="Waterbel">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>
					</div>

					<!-- Pagination -->
					<div class="promo__slider--pagination container js-promo-slider-pagination"></div>
					<!-- //Pagination -->
				</div>
				<!-- //Slider -->
			</section>
			<!-- //Section promo -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>