{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Section promo -->
			<section class="sect__promo">
				<h2 class="w3c">&nbsp;</h2>
				
				<!-- Slider -->
				<div class="promo__slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide">
									<div class="promo-slide__bg bg color-bg" style="background-image: url('img/promo/1.png');"></div>
									<div class="promo-slide__content">
										<div class="container">
											<div class="promo-slide__content--block">
												<h3 class="promo-slide__title">Специальное<br>предложение!</h3>
												<p class="promo-slide__text">Умягчитель <strong>ГЕЙЗЕР-1054</strong> по специальной цене:</p>
												<p class="promo-slide__price price">27 000</p>
												<a href="page-product.html" class="btn__with-logo letter-spacing">
													<span>Подробнее</span>
													<span class="btn__with-logo_logo">
														<img src="img/btn-logo.svg" alt="Waterbel">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide">
									<div class="promo-slide__bg bg color-bg" style="background-image: url('img/promo/1.png');"></div>
									<div class="promo-slide__content">
										<div class="container">
											<div class="promo-slide__content--block">
												<h3 class="promo-slide__title">Waterbel<br>Компания №1 в Белгороде!</h3>
												<p class="promo-slide__text">Умягчитель <strong>ГЕЙЗЕР-1054</strong> по специальной цене:</p>
												<p class="promo-slide__price price">27 000</p>
												<a href="page-product.html" class="btn__with-logo letter-spacing">
													<span>Подробнее</span>
													<span class="btn__with-logo_logo">
														<img src="img/btn-logo.svg" alt="Waterbel">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>
					</div>

					<!-- Pagination -->
					<div class="promo__slider--pagination container js-promo-slider-pagination"></div>
					<!-- //Pagination -->
				</div>
				<!-- //Slider -->
			</section>
			<!-- //Section promo -->

			<!-- Section categories-->
			<section class="sect__categories gutter-top">
				<h2 class="container sect__title sect__title--with-logo text-center">Системы очистик воды</h2>

				<div class="container">
					<div class="categories">
						<div class="row align-horisontal-start row-gutters categories__row">
							<!-- Category item -->
							<div class="category__wrapper">
								<div class="category border-radius">
									<i class="category__ic" style="background-image: url('img/icons/svg/categories/1.svg');"></i>
									<h3 class="category__title">Для<br>квартиры</h3>
									<a href="page-catalog.html" class="btn btn-shadow">Подобрать</a>
								</div>
							</div>
							<!-- //Category item -->

							<!-- Category item -->
							<div class="category__wrapper">
								<div class="category border-radius">
									<i class="category__ic" style="background-image: url('img/icons/svg/categories/2.svg');"></i>
									<h3 class="category__title">Для<br>частного дома</h3>
									<a href="page-catalog.html" class="btn btn-shadow">Подобрать</a>
								</div>
							</div>
							<!-- //Category item -->

							<!-- Category item -->
							<div class="category__wrapper">
								<div class="category border-radius">
									<i class="category__ic" style="background-image: url('img/icons/svg/categories/3.svg');"></i>
									<h3 class="category__title">Для<br>офиса</h3>
									<a href="page-catalog.html" class="btn btn-shadow">Подобрать</a>
								</div>
							</div>
							<!-- //Category item -->

							<!-- Category item -->
							<div class="category__wrapper">
								<div class="category border-radius">
									<i class="category__ic" style="background-image: url('img/icons/svg/categories/4.svg');"></i>
									<h3 class="category__title">Для кафе<br>и ресторана</h3>
									<a href="page-catalog.html" class="btn btn-shadow">Подобрать</a>
								</div>
							</div>
							<!-- //Category item -->

							<!-- Category item -->
							<div class="category__wrapper">
								<div class="category border-radius">
									<i class="category__ic" style="background-image: url('img/icons/svg/categories/5.svg');"></i>
									<h3 class="category__title">Для<br>предприятия</h3>
									<a href="page-catalog.html" class="btn btn-shadow">Подобрать</a>
								</div>
							</div>
							<!-- //Category item -->

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section categories-->

			<!-- Section form -->
			<section class="sect__form">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="form__block">
						<div class="form__content">
							<h3 class="sect__title light-color">Подберем подходящую<br>систему очистки воды</h3>
							<p class="form__text light-color">Не знаете, какую систему выбрать? Оставьте заявку на нашем сайте, и мы ответим на все Ваши вопросы, а также подберем для Вас подходящую систему очистки воды.</p>

							<form>
								<div class="row align-horisontal-start row-gutters">
									<div class="input__col">
										<div class="input__wrapper">
											<input type="text" class="input input-light js-input" name="name" placeholder="Ваше имя">
										</div>
									</div>
									<div class="input__col">
										<div class="input__wrapper">
											<input type="tel" class="input input-light js-input" name="phone" placeholder="Ваш телефон">
										</div>
									</div>
									<div class="input__col">
										<button class="btn btn-light" type="submit">оставить заявку</button>
									</div>
								</div>
							</form>

							<img src="img/filter-img.png" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section form -->

			<!-- Section services -->
			<section class="sect__services">
				<h2 class="container sect__title sect__title--with-logo text-center">Услуги нашей компании</h2>

				<div class="container">
					<div class="services">
						<div class="row row-gutters align-horisontal-start services__row">
							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/1.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Консультация</a></h3>
										<p>Помогаем подобрать систему очистки воды, а также отвечаем на любые вопросы, связанные с сервисом и гарантией</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/2.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Анализ воды</a></h3>
										<p>Проводим химический анализ воды для правильного подбора водоочистного оборудования, исходя из загрязнения</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/3.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Проектные работы</a></h3>
										<p>Основываясь на данных анализа, разрабатываем оптимальную технологическую схему водоподготовки</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/4.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Подбор оборудования</a></h3>
										<p>Подбираем оптимальное решение и предлагаем необходимый комплект водоочистного оборудования</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/5.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Монтаж</a></h3>
										<p>В кратчайшие сроки (1-2 дня, в зависимости от сложности) монтируем оборудование и запускаем его в работу</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/6.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Реконструкция</a></h3>
										<p>Проводим реконструкцию и модернизацию уже имеющегося устаревшего водоочистного оборудования</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/7.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Сервис</a></h3>
										<p>Выполняем разовое и годовое сервисное обслуживание оборудования согласно перечню выполняемых работ</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service__wrapper">
								<div class="block-with-ic">
									<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/8.svg');"></i>
									<div class="block-with-ic__content">
										<h3 class="block-with-ic__title"><a href="page-service.html">Гарантия</a></h3>
										<p>В течении срока гарантии (1 год) консультируем и бесплатно осуществляем замену неисправных элементовй</p>
									</div>
								</div>
							</div>
							<!-- //Service item -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section services -->

			<!-- Section about -->
			<section class="sect__about">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="about-us__preview--block">
						<div class="about-us__preview">
							<img src="img/logo.svg" alt="Waterbel">
							<h3>Специализированный центр водоподготовки «Чистая вода», г. Белгород</h3>
							<p>Специализированный центр водоподготовки "Чистая вода" - это команда профессионалов, которая работает более 10 лет. У нас есть огромный опыт, есть надёжные поставщики, есть желание работать и приносить пользу людям, но самое главное, что у нас есть - это целая армия благодарных клиентов! Свою работу мы строим на простых принципах: устанавливать надёжное и качественное оборудование, делать всё красиво и качественно, а также сопровождать своё оборудование весь срок эксплуатации.</p>
						</div>

						<a href="page-about.html" class="btn btn-accent">Подробнее о нас</a>
					</div>
					
				</div>
				<!-- //container -->
			</section>
			<!-- //Section about -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>