{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popup.html' %}
		{% include '../parts/components/go-to-top-button.html' %}
		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Подбор оборудования</span></li>
						</ul>
					</div>
					<!-- //container -->
				</div>
				<!-- //Breadcrumbs -->
				

				<!-- Page content -->
				<section class="page-content container">
					<h1 class="sect__title">Подбор системы очистки воды для дома, квартиры, предприятия</h1>

					<div class="equipment-selection__form">
						<form class="form text-center">

							<div class="equipment-selection__block">
								<div class="row align-horisontal-start align-vertical-start equipment-selection__block--row">
									<div class="equipment-selection__col">
										<h3 class="equipment-selection__col--title">Источник водоснабжения:</h3>

										<div class="equipment-selection__checkboxes">
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Источник снабжения - Скважина">
												<span class="checkbox">Скважина</span>
											</label>
											<!-- //Checkbox -->
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Источник снабжения - Колодец">
												<span class="checkbox">Колодец</span>
											</label>
											<!-- //Checkbox -->
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Источник снабжения - Водопровод">
												<span class="checkbox">Водопровод</span>
											</label>
											<!-- //Checkbox -->
										</div>
									</div>
									<!-- //col -->


									<div class="equipment-selection__col">
										<h3 class="equipment-selection__col--title">Объект:</h3>

										<div class="equipment-selection__checkboxes">
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Объект - Квартира">
												<span class="checkbox">Квартира</span>
											</label>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Объект - Частный дом">
												<span class="checkbox">Частный дом</span>
											</label>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Объект - Предприятие">
												<span class="checkbox">Предприятие</span>
											</label>
											<!-- //Checkbox -->

										</div>
									</div>
									<!-- //col -->


									<div class="equipment-selection__col">
										<h3 class="equipment-selection__col--title">Проблемы с водой:</h3>

										<div class="equipment-selection__checkboxes">
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Проблемы с водой - Накипь">
												<span class="checkbox">Накипь</span>
											</label>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Проблемы с водой - Неприятный запах">
												<span class="checkbox">Неприятный запах</span>
											</label>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Проблемы с водой - Много железа">
												<span class="checkbox">Много железа</span>
											</label>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Проблемы с водой - Другие проблемы">
												<span class="checkbox">Другие проблемы</span>
											</label>
											<!-- //Checkbox -->
										</div>
									</div>
									<!-- //col -->


									<div class="equipment-selection__col">
										<h3 class="equipment-selection__col--title">Тип канализации:</h3>

										<div class="equipment-selection__checkboxes">
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Тип канализации - Септик">
												<span class="checkbox">Септик</span>
											</label>
											<!-- //Checkbox -->
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Тип канализации - Централизованная">
												<span class="checkbox">Централизованная</span>
											</label>
											<!-- //Checkbox -->
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Тип канализации - Другое">
												<span class="checkbox">Другое</span>
											</label>
											<!-- //Checkbox -->
										</div>
									</div>
									<!-- //col -->


									<div class="equipment-selection__col">
										<h3 class="equipment-selection__col--title">Проживание:</h3>

										<div class="equipment-selection__checkboxes">
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Проживание - Постоянное">
												<span class="checkbox">Постоянное</span>
											</label>
											<!-- //Checkbox -->
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Проживание - Постоянное">
												<span class="checkbox">Постоянное</span>
											</label>
											<!-- //Checkbox -->
										</div>
									</div>
									<!-- //col -->


									<div class="equipment-selection__col">
										<h3 class="equipment-selection__col--title">Отопление:</h3>

										<div class="equipment-selection__checkboxes">
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Отопление - Постоянное">
												<span class="checkbox">Постоянное</span>
											</label>
											<!-- //Checkbox -->
											<!-- Checkbox -->
											<label class="checkbox__label">
												<input type="checkbox" name="Отопление - Отсутствует">
												<span class="checkbox">Отсутствует</span>
											</label>
											<!-- //Checkbox -->
										</div>
									</div>
									<!-- //col -->


								</div>

								<div class="equipment-selection__files">
									<div class="row align-horisontal-start equipment-selection__files--row row-gutters">
										<div class="equipment-selection__files--col">

											<div class="input-file__wrapper">
												<input type="file" name="fileFF_1[]" multiple class="input-file" data-multiple-caption="Выбрано: {count} файла(ов)" id="files_1">
												<label for="files_1" class="input-file__label">
													<span>прикрепить анализ воды</span>
												</label>

												<span class="input-file__name"></span>
											</div>

										</div>
										<!-- //col -->

										<div class="equipment-selection__files--col">

											<div class="input-file__wrapper">
												<input type="file" name="fileFF_2[]" multiple class="input-file" data-multiple-caption="Выбрано: {count} файла(ов)" id="files_2">
												<label for="files_2" class="input-file__label">
													<span>прикрепить фото помещения</span>
												</label>

												<span class="input-file__name"></span>
											</div>

										</div>
										<!-- //col -->

									</div>
								</div>
							</div>

							<div class="form__row row row-gutters">
								<div class="form__input--wrapper">
									<label for="selectionName" class="form__label">Ваше имя*</label>
									<input type="text" name="name" id="selectionName" class="form__input is-error js-input">
									<span class="error">Это обязательное поле</span>
								</div>
								<div class="form__input--wrapper">
									<label for="selectionEmail" class="form__label">Ваш email*</label>
									<input type="email" name="email" id="selectionEmail" class="form__input js-input">
									<span class="error">Это обязательное поле</span>
								</div>

								<div class="form__input--wrapper">
									<label for="selectionPhone" class="form__label">Ваш телефон*</label>
									<input type="tel" name="phone" id="selectionPhone" class="form__input js-input">
									<span class="error">Это обязательное поле</span>
								</div>

								<div class="form__input--wrapper">
									<label for="selectionCity" class="form__label">Ваш город*</label>
									<input type="text" name="city" id="selectionCity" class="form__input js-input">
									<span class="error">Это обязательное поле</span>
								</div>
							</div>

							<div class="form__input--wrapper">
								<label for="selectionMessage" class="form__label">Дополнительная информация</label>
								<textarea name="message" id="selectionMessage" class="form__input textarea"></textarea>
							</div>

							<button class="btn btn-accent" type="submit">отправить заявку на подбор</button>

							<p class="text-center form__notice">* - мы не передаем Ваши данные третьим лицам согласно нашей <a href="page-content.html">политике конфиденциальности</a></p>

						</form>
					</div>

				</section>
				<!-- //Page content -->


			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>