{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popup.html' %}
		{% include '../parts/components/go-to-top-button.html' %}
		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page page-no-gutter">
				<h2 class="w3c">&nbsp;</h2>
				
				<!-- Page header -->
				<div class="page__header color-bg bg" style="background-image: url('img/backgrounds/about-bg.jpg');">
					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<div class="container">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
								<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">О компании</span></li>
							</ul>
						</div>
						<!-- //container -->
					</div>
					<!-- //Breadcrumbs -->

					<div class="container">
						<div class="page__header--content">
							<h3 class="sect__title">Waterbel - это команда профессионалов с опытом работы более 10 лет</h3>
							<p>Мы гордимся своей репутацией, поэтому<br>делаем все красиво и качественно</p>
						</div>
					</div>
					<!-- //container -->


				</div>
				<!-- //Page header -->

				<!-- Page body -->
				<div class="page-body">
					
					<section class="gutters">
						<h3 class="sect__title text-center container">О компании Waterbel</h3>
					</section>




				</div>
				<!-- //Page body -->

			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>