{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popup.html' %}
		{% include '../parts/components/go-to-top-button.html' %}
		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><a href="page-blog.html" class="breadcrumbs__link">Новости</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Заголовок статьи</span></li>
						</ul>
					</div>
					<!-- //container -->
				</div>
				<!-- //Breadcrumbs -->
				
				<!-- Page content -->
				<section class="page-content container">
					<h2 class="w3c">&nbsp;</h2>
					
					<!-- Article -->
					<article class="article gutter-bottom">
						<p class="article__date">20.04.2020</p>

						<div class="content article__content">
							<h2>Белгородская вода</h2>
							<p>Уважаемые белгородцы! Мы живём с Вами в замечательном уголке нашей страны, у нас приятный климат, отличные дороги, вокруг нас чистота, порядок и много-много цветов. Жить на белгородчине мечтают многие. Есть только одна проблема, с которой нам постоянно приходится сталкиваться: в Белом городе очень много мела в воде. Говоря научным языком - она очень жёсткая. Для нас, белгородцев, даже увеличили норму жесткости воды по сравнению с другими регионами.</p>
							<p>Увы, бороться с этим в масштабе города и области не под силу никакому бюджету, поэтому каждому из нас приходится решать эту проблему самостоятельно. Одни ездят за водой к местным источникам, другие покупают умягченную воду на разлив. А вот третьи - раз и навсегда решили эту проблему, установив у себя дома современную систему очистки воды. И таких становится всё больше и больше, благо предложений на рынке водоочистке достаточно, есть из чего выбрать.</p>
							<img src="img/article-img.jpg" alt="">
							<p>Наша фирма «Чистая вода»  - одна из тех, благодаря которым очень многие белгородцы и жители белгородской области забыли о проблеме жёсткой воды и не представляют себе комфортной жизни без собственного источника, вода из которого  чистая, полезная и вкусная. Присоединяйтесь к ним! Забудьте об очередях за водой у  источников, о ворохе пустых бутылей на балконе и в багажнике автомобиля. Просто откройте на кухне свой отдельный кран чистой воды! А освободившееся время посвятите своим родным, близким и друзьям, они наверняка будут этому рады даже больше, чем тому, что дома всегда есть чистая вода. Наша компания занимается хорошей работой, ведь мы несём в дома радость, улыбки и слышим от Вас очень много слов благодарности.</p>
							<p>10 лет назад, когда мы только начинали работать, не многие могли себе позволить такую роскошь, как систему обратного осмоса на кухне и, тем более, систему умягчения воды во всём доме или квартире. Сейчас же цены на оборудование, очищающее воду, таковы, что в цивилизованных странах только ленивые или убеждённые противники современных технологичных методов очистки воды не имеют дома таких систем. А ведь вода у них намного лучше нашей, белгородской. Да, мы уже существенно продвинулись в этом направлении, но ещё очень и очень многие откладывают решение этих проблем «на потОм».</p>
							<img src="img/article-img-2.jpg" alt="">
							<p>Мы же говорим всем: «Сейчас самое время!». Этот девиз нашей компании написан под названием «Чистая вода» на нашем интернет-сайте waterbel.ru. Пожалуйста, не упускайте возможность помочь собственному организму, а заодно и обеспечить мягкой водой весь свой дом. Как приятно будет смотреть потом на улыбающуюся жену, сияющую сантехнику, весело гудящий котёл и довольную тёщу, подмигивающую своему отражению в чайнике!</p>
							<p>И как долго будет это продолжаться, спросите Вы? А вот тут самое главное! Заботиться о работоспособности вашей системы очистки воды будем мы! Потому что это наша главная работа! И упомянутые ранее слова благодарности мы слышим от своих клиентов именно тогда, когда приезжаем к ним на сервисное обслуживание. Ни про кого мы не забываем, потому что наши компьютеры помнят всех, а наши менеджеры и сервисмены – почти всех наших клиентов за все 10 лет работы. Это семейный бизнес, и коллектив «Чистой воды» оказался на удивление стабилен, превратившись в одну большую семью.</p>
							<p>Приходите к нам, мы будем счастливы видеть Вас в числе наших клиентов, и обещаем, что Вы не будете разочарованы. Место встречи – ул. Есенина, д. 8. Звоните, мы обязательно с Вами поговорим :)<br>С наилучшими пожеланиями, «Чистая вода»!</p>
						</div>
					</article>
					<!-- //Article -->

					
				</section>
				<!-- //Page content -->

				<!-- Section another news -->
				<section class="sect__blog">
					<h2 class="container sect__title text-center">Другие новости</h2>

					<div class="container">
						<div class="articles">
							<div class="row row-gutters align-horisontal-start articles__row">
								{% include '../parts/components/article-card.html' %}
								{% include '../parts/components/article-card.html' %}
								{% include '../parts/components/article-card.html' %}
								{% include '../parts/components/article-card.html' %}
							</div>
						</div>

						<div class="text-center permalink-block">
							<a href="page-blog.html" class="btn btn-shadow">больше новостей</a>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section another news -->

			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>