{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popup.html' %}
		{% include '../parts/components/go-to-top-button.html' %}
		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page page-no-gutter">
				<h2 class="w3c">&nbsp;</h2>
				
				<!-- Page header -->
				<div class="page__header color-bg bg" style="background-image: url('img/backgrounds/about-bg.jpg');">
					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<div class="container">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
								<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">О компании</span></li>
							</ul>
						</div>
						<!-- //container -->
					</div>
					<!-- //Breadcrumbs -->

					<div class="container">
						<div class="page__header--content_block">
							<div class="page__header--content">
								<h3 class="sect__title">Waterbel - это команда профессионалов с опытом работы более 10 лет</h3>
								<p>Мы гордимся своей репутацией, поэтому<br>делаем все красиво и качественно</p>
							</div>
						</div>
					</div>
					<!-- //container -->


				</div>
				<!-- //Page header -->

				<!-- Page body -->
				<div class="page-body">
					
					<section class="about-us gutters">
						<h3 class="w3c">&nbsp;</h3>

						<div class="container">
							<div class="content text-center">
								<h2>О компании Waterbel</h2>
								<p>Специализированный центр водоподготовки "Чистая вода" - это команда профессионалов, которая работает более 10 лет. У нас есть огромный опыт, есть надёжные поставщики, есть желание работать и приносить пользу людям, но самое главное, что у нас есть - это целая армия благодарных клиентов! Свою работу мы строим на простых принципах: устанавливать надёжное и качественное оборудование, делать всё красиво и качественно,а также сопровождать своё оборудование весь срок эксплуатации.</p>
								<p>Наши специалисты с удовольствием проконсультируют Вас по вопросам очистки воды. Вы можете позвонить нам по любому из наших телефонов: городские 23-13-93, 37-14-95, мобильные (МТС) 8-910-737-14-93, 8-910-737-14-95. Приходите в наш единственный офис на Есенина, 8, где Вам всегда рады, и где выставлена большая часть оборудования, которое мы устанавливаем и обслуживаем, гарантируя его надежную работу весь срок эксплуатации. Также наш выставочный стенд с системой умягчения и обезжелезивания воды Waterbel-1054 ПРЕМИУМ, а также рекламными материалами, находится в павильоне "Спутник-Дом" на 1 этаже, рядом с центральным входом. У нас работает собственная лаборатория для анализа необходимых для подбора оборудования показателей воды (жесткость общая, железо общее, солесодержание общее, рН, нитраты и нитриты).</p>
							</div>

							<blockquote class="about-us__quote">Наша миссия - устанавливать надёжное и качественное оборудование, делать всё красиво и качественно, а также сопровождать своё оборудование весь срок эксплуатации.</blockquote>
						</div>
					</section>

					<section class="sect__advantages gutters color-bg">
						<h3 class="sect__title container text-center">Наши преимущества</h3>

						<div class="container">
							<div class="about-us__advantages">
								<div class="row row-gutters about-us__advantages--row align-horisontal-center">
									{% include '../parts/components/advantages.html' %}
								</div>
							</div>
						</div>
						<!-- //container -->
					</section>

					<section class="about-us gutters">
						<h3 class="w3c">&nbsp;</h3>

						<div class="container">
							<div class="content text-center">
								<h2>Лучшее оборудование для Вас</h2>
								<p>Специалисты нашего центра помогут подобрать схему водоподготовки и необходимое оборудование, которое разрешит Ваши проблемы по очистке воды. При необходимости технические специалисты могут выехать на место, чтобы оценить возможности монтажа оборудования, реконструкции и модернизации уже имеющейся системы водоподготовки. Выезд в пределах Белгородской области - бесплатно. В офисе Вас проконсультируют по вопросам периодичности замены сменных элементов, а также по условиям сервисного и гарантийного обслуживания.</p>
								<p>Приходите в наш единственный офис на Есенина, 8, где Вам всегда рады, и где выставлена большая часть оборудования, которое мы устанавливаем и обслуживаем, гарантируя его надежную работу весь срок эксплуатации. Также наш выставочный стенд с системой умягчения и обезжелезивания воды Waterbel-1054 ПРЕМИУМ, а также рекламными материалами, находится в павильоне "Спутник-Дом" на 1 этаже, рядом с центральным входом. </p>
							</div>

							<div class="office text-center">
								<img src="img/office.jpg" alt="">
								<p>Наш офис на Есенина, 8</p>
							</div>
						</div>
					</section>




				</div>
				<!-- //Page body -->

			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>