{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popup.html' %}
		{% include '../parts/components/go-to-top-button.html' %}
		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Название страницы</span></li>
						</ul>
					</div>
					<!-- //container -->
				</div>
				<!-- //Breadcrumbs -->
				
				<!-- Page content -->
				<section class="page-content container">
					<h2 class="w3c">&nbsp;</h2>
					
					<!-- Article -->
					<article class="article">

						<div class="content article__content">
							<h2>h2</h2>
							<h3>h3</h3>
							<h4>h4</h4>
							<h5>h5</h5>
							<h6>h6</h6>
							<p>Уважаемые белгородцы! Мы живём с <a href="#">Вами в замечательном уголке нашей страны</a>, у нас приятный климат, отличные дороги, вокруг нас чистота, порядок и много-много цветов. Жить на белгородчине мечтают многие. Есть только одна проблема, с которой нам постоянно приходится сталкиваться: в Белом городе очень много мела в воде. Говоря научным языком - она очень жёсткая. Для нас, белгородцев, даже увеличили норму жесткости воды по сравнению с другими регионами.</p>

							<ul>
								<li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</li>
								<li>Текстами использовало океана ему, ты, щеке большой даль свою. Ему.</li>
								<li>Путь имеет рукописи свою пор, имени не продолжил, снова сбить.</li>
								<li>Реторический знаках дал до пор вдали она пунктуация залетают над.</li>
							</ul>

							<ol>
								<li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</li>
								<li>Языком все грамматики единственное возвращайся, оксмокс текста большой то, решила.</li>
								<li>Заманивший рыбного пор снова всемогущая по всей текстов обеспечивает пояс запятой.</li>
								<li>Живет текстами рукописи снова о маленькая, даже продолжил правилами маленький!</li>
								<li>Встретил путь сих, переулка пор взобравшись своего речью ведущими снова.</li>
								<li>Имеет то маленькая, раз даль курсивных последний алфавит над силуэт.</li>
								<li>Щеке дал последний за, запятых, повстречался сих себя которой рыбного!</li>
								<li>Последний то взобравшись даже, осталось там по всей которой на берегу, оксмокс?</li>
								<li>Которой, оксмокс семь повстречался. Мир эта бросил его. Своих, щеке!</li>
								<li>Рыбного ему имеет взобравшись речью одна великий жаренные путь они!</li>
								<li>То вершину силуэт маленькая послушавшись семь сбить продолжил обеспечивает его.</li>
								<li>Меня однажды заголовок последний оксмокс, коварных напоивший подпоясал речью, бросил.</li>
							</ol>
							<p>Увы, бороться с этим в масштабе города и области не под силу никакому бюджету, поэтому каждому из нас приходится решать эту проблему самостоятельно. Одни ездят за водой к местным источникам, другие покупают умягченную воду на разлив. А вот третьи - раз и навсегда решили эту проблему, установив у себя дома современную систему очистки воды. И таких становится всё больше и больше, благо предложений на рынке водоочистке достаточно, есть из чего выбрать.</p>
							<img src="img/article-img.jpg" alt="">
							<p>Наша фирма «Чистая вода»  - одна из тех, благодаря которым очень многие белгородцы и жители белгородской области забыли о проблеме жёсткой воды и не представляют себе комфортной жизни без собственного источника, вода из которого  чистая, полезная и вкусная. Присоединяйтесь к ним! Забудьте об очередях за водой у  источников, о ворохе пустых бутылей на балконе и в багажнике автомобиля. Просто откройте на кухне свой отдельный кран чистой воды! А освободившееся время посвятите своим родным, близким и друзьям, они наверняка будут этому рады даже больше, чем тому, что дома всегда есть чистая вода. Наша компания занимается хорошей работой, ведь мы несём в дома радость, улыбки и слышим от Вас очень много слов благодарности.</p>
							<p>10 лет назад, когда мы только начинали работать, не многие могли себе позволить такую роскошь, как систему обратного осмоса на кухне и, тем более, <i>систему умягчения воды</i> во всём доме или квартире. Сейчас же цены на оборудование, очищающее воду, таковы, что в цивилизованных <strong>странах только ленивые</strong> или убеждённые противники современных технологичных методов очистки воды не имеют дома таких систем. А ведь вода у них намного лучше нашей, белгородской. Да, мы уже существенно продвинулись <b>в этом направлении, но ещё очень и очень многие</b> откладывают решение этих проблем «на потОм».</p>
							<img src="img/article-img-2.jpg" alt="">
							<p>Мы же говорим всем: «Сейчас самое время!». Этот девиз нашей компании написан под названием «Чистая вода» на нашем интернет-сайте waterbel.ru. Пожалуйста, не упускайте возможность помочь собственному организму, а заодно и обеспечить мягкой водой весь свой дом. Как приятно будет смотреть потом на улыбающуюся жену, сияющую сантехнику, весело гудящий котёл и довольную тёщу, подмигивающую своему отражению в чайнике!</p>
						</div>
					</article>
					<!-- //Article -->

					
				</section>
				<!-- //Page content -->


			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>