{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popup.html' %}
		{% include '../parts/components/go-to-top-button.html' %}
		

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<!-- Page content -->
				<section class="page-content container">
					<h2 class="w3c">&nbsp;</h2>

					<div class="thanks text-center">
						<img src="img/manager.png" alt="">
						<h3 class="sect__title">Спасибо!</h3>
						<p>Ваша заявка успешно принята и в ближайшее время мы свяжемся с Вами</p>
						<a href="index.html" class="btn btn-accent">Вернуться на сайт</a>
					</div>


				</section>
				<!-- //Page content -->


			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>