<!-- Product card -->
<div class="product-card">
	<div class="product-card__content">

		<a href="page-product.html" class="product-card__thumbnail">
			<img src="img/product/thumb-1.png" alt="">
		</a>

		<div class="product-card__content--body">
			<h4 class="product-card__title">
				<a href="page-product.html">Система комплексной очистки воды</a>
			</h4>
			<p class="price product-card__price">300 000</p>

			<div class="product-card__tools">
				{% include 'product-quantity.html' %}

				<a href="#" class="btn btn-shadow btn-sm js-add-to-cart-btn">В корзину</a>
			</div>
		</div>

	</div>

	<div class="product-card__hover"></div>
</div>
<!-- //Product card -->