<!-- Product card -->
<div class="product-card">
	<div class="product-card__content">

		<a href="page-product.html" class="product-card__thumbnail">
			<img src="img/product/thumb-1.png" alt="">
		</a>

		<div class="product-card__content--body">
			<h4 class="product-card__title">
				<a href="page-product.html">Система комплексной очистки воды</a>
			</h4>
			<p class="price product-card__price">300 000</p>

			<div class="product-card__tools">
				{% include 'product-quantity.html' %}

				<a href="#" class="btn btn-shadow btn-sm js-add-to-cart-btn">В корзину</a>
			</div>
		</div>

	</div>

	<div class="product-card__hover"></div>
</div>
<!-- //Product card -->

<!-- Product card -->
<div class="product-card is-actual">
	<div class="product-card__content">

		<span class="product-card__label letter-spacing">Товар дня</span>

		<a href="page-product.html" class="product-card__thumbnail">
			<img src="img/product/thumb-2.png" alt="">
		</a>

		<div class="product-card__content--body">
			<h4 class="product-card__title">
				<a href="page-product.html">Фильтр-умягчитель 3 куб.м/ч Waterbel-1354 ПРЕМИУМ</a>
			</h4>
			<p class="price product-card__price">82 000</p>

			<div class="product-card__tools">
				{% include 'product-quantity.html' %}

				<a href="#" class="btn btn-shadow btn-sm js-add-to-cart-btn">В корзину</a>
			</div>
		</div>

	</div>

	<div class="product-card__hover"></div>
</div>
<!-- //Product card -->

<!-- Product card -->
<div class="product-card is-new">
	<div class="product-card__content">

		<span class="product-card__label letter-spacing">Новинка</span>

		<a href="page-product.html" class="product-card__thumbnail">
			<img src="img/product/thumb-3.png" alt="">
		</a>

		<div class="product-card__content--body">
			<h4 class="product-card__title">
				<a href="page-product.html">Термочехол корпуса фильтра</a>
			</h4>
			<p class="price product-card__price">3 000</p>

			<div class="product-card__tools">
				{% include 'product-quantity.html' %}

				<a href="#" class="btn btn-shadow btn-sm js-add-to-cart-btn">В корзину</a>
			</div>
		</div>

	</div>

	<div class="product-card__hover"></div>
</div>
<!-- //Product card -->

<!-- Product card -->
<div class="product-card is-stock">
	<div class="product-card__content">

		<span class="product-card__label letter-spacing">Акция</span>

		<a href="page-product.html" class="product-card__thumbnail">
			<img src="img/product/thumb-4.png" alt="">
		</a>

		<div class="product-card__content--body">
			<h4 class="product-card__title">
				<a href="page-product.html">Умягчитель кабинетного типа Ecomaster 0,6 куб.м/ч (США)</a>
			</h4>
			<p class="price product-card__price">113 000</p>

			<div class="product-card__tools">
				{% include 'product-quantity.html' %}

				<a href="#" class="btn btn-shadow btn-sm js-add-to-cart-btn">В корзину</a>
			</div>
		</div>

	</div>

	<div class="product-card__hover"></div>
</div>
<!-- //Product card -->