<!-- Advantage item -->
<div class="advantage">
	<div class="block-with-ic">
		<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></i>
		<div class="block-with-ic__content">
			<h3 class="block-with-ic__title">Опыт</h3>
			<p>Мы успешно решаем задачи любой сложности с 2003 года</p>
		</div>
	</div>
</div>
<!-- //Advantage item -->

<!-- Advantage item -->
<div class="advantage">
	<div class="block-with-ic">
		<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></i>
		<div class="block-with-ic__content">
			<h3 class="block-with-ic__title">Надежность</h3>
			<p>Установлено более 5000 надежных систем водоподготовки от проверенных производителей</p>
		</div>
	</div>
</div>
<!-- //Advantage item -->

<!-- Advantage item -->
<div class="advantage">
	<div class="block-with-ic">
		<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></i>
		<div class="block-with-ic__content">
			<h3 class="block-with-ic__title">Оперативность</h3>
			<p>Мы делаем работу качественно и в срок</p>
		</div>
	</div>
</div>
<!-- //Advantage item -->

<!-- Advantage item -->
<div class="advantage">
	<div class="block-with-ic">
		<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></i>
		<div class="block-with-ic__content">
			<h3 class="block-with-ic__title">Гарантия качества</h3>
			<p>Мы используем только проверенное и сертифицированное оборудование и материалы</p>
		</div>
	</div>
</div>
<!-- //Advantage item -->

<!-- Advantage item -->
<div class="advantage">
	<div class="block-with-ic">
		<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/advantages/5.svg');"></i>
		<div class="block-with-ic__content">
			<h3 class="block-with-ic__title">Сервис</h3>
			<p>На протяжении всего срока эксплуатации мы оказываем техническое индивидуальное сопровождение</p>
		</div>
	</div>
</div>
								<!-- //Advantage item -->