<!-- Article -->
<div class="article-card__wrapper">
	<article class="article-card">
		<!-- Thumbnail -->
		<div class="article-card__thumbnail--wrapper">
			<a href="page-article.html" class="article-card__thumbnail">
				<img src="img/articles/1.png" alt="">
			</a>
			<p class="article-card__date">22.12.2020</p>
		</div>
		<!-- //Thumbnail -->

		<div class="article-card__content">
			<h3 class="article-card__title">
				<a href="page-article.html">Переключатели потоков Clack WS</a>
			</h3>
			<p>Представляем универсальные переключатели потоков воды компании CLACK Corp.  модельного ряда Water Specialist (WS)</p>

			<a href="page-article.html" class="read-more-link">Читать далее</a>
		</div>
	</article>
</div>
<!-- //Article -->