<nav class="nav js-nav">
	<div class="container">

		<ul class="nav__list">
			<!-- Catalog link -->
			<li class="nav__item has-sublist">
				<a href="page-catalog.html" class="nav__link nav__link--catalog">
					<span>Каталог</span>
				</a>

				<!-- Sublist -->
				<ul class="sublist">
					<!-- sublist col -->
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title">По назначению</h2>
							<ul class="sublist__list">
								<li><a href="page-catalog.html">Для квартиры</a></li>
								<li><a href="page-catalog.html">Для частного дома</a></li>
								<li><a href="page-catalog.html">Для офиса</a></li>
								<li><a href="page-catalog.html">Для кафе и ресторана</a></li>
								<li><a href="page-catalog.html">Для предприятия</a></li>
							</ul>
						</div>

						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title">По типу системы</h2>
							<ul class="sublist__list">
								<li><a href="page-catalog.html">Механическая очистка</a></li>
								<li><a href="page-catalog.html">Обезжелезиватели</a></li>
								<li><a href="page-catalog.html">Системы обратного осмоса</a></li>
							</ul>
						</div>
					</li>
					<!-- //sublist col -->

					<!-- sublist col -->
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title">По типу продукции</h2>
							<ul class="sublist__list">
								<li><a href="page-catalog.html">Системы комплексной очистки воды</a></li>
								<li><a href="page-catalog.html">Фильтры-умягчители</a></li>
								<li><a href="page-catalog.html">Обезжелезиватели</a></li>
								<li><a href="page-catalog.html">Термочехлы корпуса фильтра</a></li>
								<li><a href="page-catalog.html">Умягчители кабинетного типа</a></li>
								<li><a href="page-catalog.html">Системы обратного осмоса</a></li>
								<li><a href="page-catalog.html">Пурифайеры</a></li>
								<li><a href="page-catalog.html">Сменные элементы</a></li>
							</ul>
						</div>
					</li>
					<!-- //sublist col -->

					<!-- sublist col -->
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title">По загрязнению</h2>
							<ul class="sublist__list">
								<li><a href="page-catalog.html">Жесткая вода</a></li>
								<li><a href="page-catalog.html">Механические загрязнения</a></li>
								<li><a href="page-catalog.html">Органические загрязнения</a></li>
								<li><a href="page-catalog.html">Неприятный запах</a></li>
								<li><a href="page-catalog.html">Фосфаты</a></li>
								<li><a href="page-catalog.html">Железо в воде</a></li>
								<li><a href="page-catalog.html">Хлорированная вода</a></li>
							</ul>
						</div>
					</li>
					<!-- //sublist col -->

					<!-- sublist col -->
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title">По бренду</h2>
							<ul class="sublist__list">
								<li><a href="page-catalog.html">Ecowater</a></li>
								<li><a href="page-catalog.html">WiseWater</a></li>
								<li><a href="page-catalog.html">Delta</a></li>
								<li><a href="page-catalog.html">Акватек</a></li>
								<li><a href="page-catalog.html">Runxin</a></li>
								<li><a href="page-catalog.html">Гейзер</a></li>
							</ul>
						</div>
					</li>
					<!-- //sublist col -->
				</ul>
				<!-- //Sublist -->
			</li>
			<!-- //Catalog link -->

			<!-- Categories link -->
			<li class="nav__item has-sublist">
				<a href="page-catalog.html" class="nav__link"><span>Готовые решения</span></a>

				<!-- Sublist -->
				<ul class="sublist">
					<li class="sublist__col width-20">
						<a href="page-catalog.html" class="category__link">
							<i class="category__ic" style="background-image: url('img/icons/svg/categories/1.svg');"></i>
							<span class="category__title">Для<br>квартиры</span>
						</a>
					</li>
					<li class="sublist__col width-20">
						<a href="page-catalog.html" class="category__link">
							<i class="category__ic" style="background-image: url('img/icons/svg/categories/2.svg');"></i>
							<span class="category__title">Для<br>частного дома</span>
						</a>
					</li>
					<li class="sublist__col width-20">
						<a href="page-catalog.html" class="category__link">
							<i class="category__ic" style="background-image: url('img/icons/svg/categories/3.svg');"></i>
							<span class="category__title">Для<br>офиса</span>
						</a>
					</li>
					<li class="sublist__col width-20">
						<a href="page-catalog.html" class="category__link">
							<i class="category__ic" style="background-image: url('img/icons/svg/categories/4.svg');"></i>
							<span class="category__title">Для кафе<br>и ресторана</span>
						</a>
					</li>
					<li class="sublist__col width-20">
						<a href="page-catalog.html" class="category__link">
							<i class="category__ic" style="background-image: url('img/icons/svg/categories/5.svg');"></i>
							<span class="category__title">Для<br>предприятия</span>
						</a>
					</li>
				</ul>
				<!-- //Sublist -->
			</li>
			<!-- //Categories link -->

			<!-- Services link -->
			<li class="nav__item has-sublist">
				<a href="page-services.html" class="nav__link"><span>Наши услуги</span></a>

				<!-- Sublist -->
				<ul class="sublist">
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Консультация</a></h2>
							<p>Помогаем подобрать систему очистки воды, а также отвечаем на любые вопросы, связанные с сервисом и гарантией</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Анализ воды</a></h2>
							<p>Проводим химический анализ воды для правильного подбора водоочистного оборудования, исходя из загрязнения</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Проектные работы</a></h2>
							<p>Основываясь на данных анализа, разрабатываем оптимальную технологическую схему водоподготовки</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Подбор оборудования</a></h2>
							<p>Подбираем оптимальное решение и предлагаем необходимый комплект водоочистного оборудования</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Монтаж</a></h2>
							<p>В кратчайшие сроки (1-2 дня, в зависимости от сложности) монтируем оборудование и запускаем его в работу</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Реконструкция</a></h2>
							<p>Проводим реконструкцию и модернизацию уже имеющегося устаревшего водоочистного оборудования</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Сервис</a></h2>
							<p>Выполняем разовое и годовое сервисное обслуживание оборудования согласно перечню выполняемых работ</p>
						</div>
					</li>
					<li class="sublist__col">
						<div class="sublist__col--block">
							<h2 class="sublist__col--block_title"><a href="page-service.html">Гарантия</a></h2>
							<p>В течении срока гарантии (1 год) консультируем и бесплатно осуществляем замену неисправных элементов</p>
						</div>
					</li>
				</ul>
				<!-- //Sublist -->
			</li>
			<!-- //Services link -->

			<li class="nav__item"><a href="page-about.html" class="nav__link"><span>О нас</span></a></li>
			<li class="nav__item"><a href="page-gallery.html" class="nav__link"><span>Галерея</span></a></li>
			<li class="nav__item"><a href="page-feedbacks.html" class="nav__link"><span>Отзывы</span></a></li>
			<li class="nav__item"><a href="page-blog.html" class="nav__link"><span>Новости</span></a></li>
			<li class="nav__item"><a href="page-contacts.html" class="nav__link"><span>Контакты</span></a></li>
		</ul>
	</div>
	<!-- //container -->
</nav>
