<div class="services">
	<div class="row row-gutters align-horisontal-start services__row">
		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/1.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Консультация</a></h3>
					<p>Помогаем подобрать систему очистки воды, а также отвечаем на любые вопросы, связанные с сервисом и гарантией</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/2.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Анализ воды</a></h3>
					<p>Проводим химический анализ воды для правильного подбора водоочистного оборудования, исходя из загрязнения</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/3.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Проектные работы</a></h3>
					<p>Основываясь на данных анализа, разрабатываем оптимальную технологическую схему водоподготовки</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/4.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Подбор оборудования</a></h3>
					<p>Подбираем оптимальное решение и предлагаем необходимый комплект водоочистного оборудования</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/5.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Монтаж</a></h3>
					<p>В кратчайшие сроки (1-2 дня, в зависимости от сложности) монтируем оборудование и запускаем его в работу</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/6.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Реконструкция</a></h3>
					<p>Проводим реконструкцию и модернизацию уже имеющегося устаревшего водоочистного оборудования</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/7.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Сервис</a></h3>
					<p>Выполняем разовое и годовое сервисное обслуживание оборудования согласно перечню выполняемых работ</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->

		<!-- Service item -->
		<div class="service__wrapper">
			<div class="block-with-ic">
				<i class="block-with-ic__ic" style="background-image: url('img/icons/svg/services/8.svg');"></i>
				<div class="block-with-ic__content">
					<h3 class="block-with-ic__title"><a href="page-service.html">Гарантия</a></h3>
					<p>В течении срока гарантии (1 год) консультируем и бесплатно осуществляем замену неисправных элементовй</p>
				</div>
			</div>
		</div>
		<!-- //Service item -->
	</div>
</div>