.btn
	display inline-block
	text-align center
	border-radius 100px
	font 12px $Bold
	outline none
	transition all .17s ease-in-out
	line-height 1
	color $accent-color
	text-transform uppercase
	@extends .letter-spacing
	border 2px solid transparent
	padding 22px 30px
	
	&:hover
		background-color $dark-accent-color
		
	&-accent
		background-color $accent-color
		color $light-color
		&:hover
			background-color $light-color
			color $accent-color
			
	&-light
		background-color $light-color
		color $accent-color
		&:hover
			background-color $accent-color
			color $light-color
	
	&-shadow
		background-color transparent
		border-color $accent-color
		&:hover
			background-color $accent-color
			color $light-color
			
	&__close
		display inline-block
		width 20px
		height 20px
		background url('../img/icons/svg/close-ic.svg') center center no-repeat
		background-size 20px 20px
		
	&__search
		display inline-block
		position absolute
		vertical-center()
		right 12px
		z-index 1
		width 20px
		height 20px
		&--ic
			display block
			width 100%
			height 100%
		svg
			svg()
			fill $secondary-color
		&:hover
			svg
				fill $accent-color
		&::-ms-clear
			display none 
			width 0
			height 0
		&::-ms-reveal
			display none 
			width 0
			height 0
		
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration
			display none
			
	&__callback
		display flex
		align-items center
		justify-content center
		padding 13px 25px
		border 2px solid $secondary-color
		text-transform uppercase
		font 12px $Bold
		color $secondary-color
		&--ic
			display block
			width 16px
			height 16px
			flex none
			margin-right 15px
			svg
				svg()
				fill $secondary-color
		&:hover
			background-color $secondary-color
			color $light-color
			svg
				fill $light-color
				
	&__with-logo
		display inline-block
		position relative
		border-radius 70px
		background-color $accent-color
		color $light-color
		padding 22.5px 85px 22.5px 25px
		text-transform uppercase
		font 12px $Bold
		will-change transform
		backface-visibility hidden
		&_logo
			position absolute
			right 0
			vertical-center()
			border-radius 50%
			background-color $dark-accent-color
			flex-col-center()
			padding 5px
			width 60px
			height 60px
			transition background-color .17s ease-in-out
			img
				@extends .content-img
				max-width 30px
				max-height 30px
				transition transform .17s ease-in-out
		&:hover
			background-color $dark-accent-color
			.btn__with-logo_logo
				background-color $accent-color
			img
				transform rotate(-15deg)
		
	&__top
		display none
		border-radius 50%
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background-color $accent-color
		z-index 10
		text-align center
		transition all .17s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($dark-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $dark-color
			border-right 1px solid $dark-color
			transition all .23s ease-in-out
		&:hover
			background-color $dark-color
			transform scale(1.1)
			box-shadow 0px 0px 13px 0px rgba($accent-color, 0.21)
			&:after
				border-top 1px solid $accent-color
				border-right 1px solid $accent-color
		

	&__hamburger
		display inline-block
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $accent-color
		position relative
		transition background-color .17s ease-in-out
		margin-left 15px
		&--line
			width 27px
			height 2px
			background-color $dark-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
		