.btn
	display inline-block
	text-align center
	border-radius 100px
	font 12px $Bold
	outline none
	transition all .17s ease-in-out
	line-height 1
	color $accent-color
	text-transform uppercase
	@extends .letter-spacing
	border 2px solid transparent
	padding 22px 30px
	
	&:hover
		background-color $dark-accent-color
		
	&-accent
		background-color $accent-color
		color $light-color
		&:hover
			color $light-color
			background-color $secondary-color
			
	&-light
		background-color $light-color
		color $accent-color
		&:hover
			background-color $accent-color
			color $light-color
	
	&-shadow
		background-color transparent
		border-color $accent-color
		&:hover
			background-color $accent-color
			color $light-color
			
	&-wide
		width 100%
		padding-left 15px
		padding-right 15px
		
	&-hover-dark
		&:hover
			color $light-color
			background-color $secondary-color
	
	&-sm
		padding-top 16px
		padding-bottom 16px	
			
	&__close
		display inline-block
		width 14px
		height 14px
		position absolute
		top 10px
		right 10px
		opacity .3
		&:hover
			opacity 1
		&--ic
			display block
			width 100%
			height 100%
		svg
			svg()
			fill #162648
		
		
	&__search
		display inline-block
		position absolute
		vertical-center()
		right 12px
		z-index 1
		width 20px
		height 20px
		&--ic
			display block
			width 100%
			height 100%
		svg
			svg()
			fill $secondary-color
		&:hover
			svg
				fill $accent-color
				
		&--mobile
			display none
			width 40px
			height 40px
			position relative
			transform none
			right auto
			margin-left 15px
			.btn__search--ic
				width 23px
				height 23px
				position absolute
				position-center()
			svg
				fill $accent-color
				
			&.is-active
				svg
					fill $secondary-color
				
		&::-ms-clear
			display none 
			width 0
			height 0
		&::-ms-reveal
			display none 
			width 0
			height 0
		
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration
			display none
			
	&__callback
		display flex
		align-items center
		justify-content center
		padding 13px 25px
		border 2px solid $secondary-color
		text-transform uppercase
		font 12px $Bold
		color $secondary-color
		&--ic
			display block
			width 16px
			height 16px
			flex none
			margin-right 15px
			svg
				svg()
				fill $secondary-color
		&:hover
			background-color $secondary-color
			color $light-color
			svg
				fill $light-color
				
	&__with-logo
		display inline-block
		position relative
		border-radius 70px
		background-color $accent-color
		color $light-color
		padding 22.5px 85px 22.5px 25px
		text-transform uppercase
		font 12px $Bold
		will-change transform
		backface-visibility hidden
		&_logo
			position absolute
			right 0
			vertical-center()
			border-radius 50%
			background-color $dark-accent-color
			flex-col-center()
			padding 5px
			width 60px
			height 60px
			transition background-color .17s ease-in-out
			img
				@extends .content-img
				max-width 30px
				max-height 30px
				transition transform .17s ease-in-out
		&:hover
			background-color $dark-accent-color
			.btn__with-logo_logo
				background-color $accent-color
			img
				transform rotate(-15deg)
	

	&__top
		display none
		border-radius 10px
		width 50px
		height 50px
		position fixed
		right 20px
		bottom 20px
		background $accent-color url('../img/icons/svg/up-arrow.svg') 50% 50% no-repeat / 14px 14px
		z-index 10
		text-align center
		transition all .17s ease-in-out
		opacity .65
		&:hover
			opacity 1
		
		

	&__hamburger
		display none
		flex none
		width 40px
		height 40px
		position relative
		transition background-color .17s ease-in-out
		margin-left 15px
		&--line
			width 27px
			height 2px
			background-color $accent-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
					

	&__toggle-phones
		display none
		width 20px
		height 20px
		position relative
		margin-left 15px
		svg
			display block
			width 10px
			height 6px
			fill $accent-color
			transition fill .17s ease-in-out
			position absolute
			position-center()
			
		&.is-active
			transform rotate(-180deg)
			svg
				fill $secondary-color
				
	&__phone
		width 30px
		height 30px
		position relative
		margin-left 30px
		display none
		&--ic
			display block
			width 22px
			height 22px
			position absolute
			position-center()
		
		svg
			svg()
			fill $accent-color
			
		&.is-active
			svg
				fill $secondary-color
				
	&__menu-arrow
		width 20px
		height 20px
		background url('../img/icons/svg/header_menu_arrow_accent.svg') 50% 50% no-repeat / 10px 6px
		position absolute
		right 0
		top 10px
		display none
		
	&__reset
		font 14px $Reg
		color $text-color
		border-bottom 1px solid transparent
		margin-top 25px
		&:hover
			color $accent-color
			border-color inherit
			
	&__quantity
		width 40px
		height 40px
		border-radius 50%
		background-color rgba($accent-color, .15)
		position absolute
		vertical-center()
		z-index 1
		font-family $Bold
		font-size 22px
		flex-col-center()
		&:hover
			color $light-color
			background-color rgba($accent-color, 1)
			
		&.minus
			left 0
		&.plus
			right 0
			
	&__load-more
		display flex
		align-items center
		justify-content center
		max-width 190px
		padding 15px
		margin 0 auto
		&--ic
			display block
			width 13px
			height 13px
			margin-left 5px
			
		svg
			svg()
			fill $accent-color
			
		&:hover
			svg
				fill $light-color
				
	&__filter
		position relative
		padding-left 25px
		color $dark-secondary-color
		font 16px $Med
		display none
		&--ic
			display block
			width 15px
			height 15px
			position absolute
			left 0
			vertical-center()
		svg
			svg()
			fill $dark-secondary-color
			
	&__tab
		letter-spacing 0.01em
		text-align center
		text-transform uppercase
		font 12px $Bold
		color $accent-color
		width 100%
		max-width 300px
		border 2px solid $accent-color
		padding 20px
		&.is-active,
		&:hover
			background-color $accent-color
			color $light-color
			
	&__zoom
		display inline-block
		position relative
		width 40px
		height 40px
		border-radius 50%
		background-color rgba($accent-color, .15)
		&--ic
			display block
			position absolute
			position-center()
			width 20px
			height 20px
		
		svg
			svg()
			fill $accent-color
		
		&:hover
			background-color  rgba($accent-color, 1)
			svg
				fill $light-color
				
	&__arrow
		display inline-block
		width 45px
		height 45px
		border-radius 50%
		background-color transparent
		position absolute
		vertical-center()
		z-index 2
		&--ic
			display block
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 8px
			height 13px
		svg
			svg()
			fill $accent-color
			
		&--next
			i
				transform translate(-50%, -50%) scaleX(-1)
				
		&:hover
			background-color $accent-color
			svg
				fill $light-color
				
		&.is-disabled
			display none
			
	&__delete
		display inline-block
		width 18px
		height 18px
		opacity .4
		background url('../img/icons/svg/cart_delete.svg') no-repeat
		&:hover
			opacity 1