input[type="search"]
	appearance none
	-webkit-appearance none			

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	appearance none
	-webkit-appearance none
	backface-visibility hidden
	transform translate3d(0,0,0)
	
.search
	&__wrapper
		flex none
		width 260px
		
	&-input
		display block
		width 100%
		border 1px solid transparent
		color $dark-color
		font 14px $Reg
		padding 12px 45px 12px 12px
		background-color $search-input-bg
		&::-webkit-input-placeholder
			font 14px $Reg
			color $text-color
		&::-moz-placeholder
			font 14px $Reg
			color $text-color
		&:-moz-placeholder
			font 14px $Reg
			color $text-color
		&:-ms-input-placeholder
			font 14px $Reg
			color $text-color
		&:hover,
		&:focus
			border-color $accent-color
		&__wrapper
			position relative
	
.input
	display block
	width 100%
	padding 20px
	text-align center
	background-color $input-bg
	border 2px solid $accent-color
	font 14px $Reg
	color #000
	border-radius 100px
	&:hover,
	&:focus
		border-color $secondary-color
	&::-webkit-input-placeholder
		font 14px $Reg
		color rgba($dark-secondary-color, .75)
	&::-moz-placeholder
		font 14px $Reg
		color rgba($dark-secondary-color, .75)
	&:-moz-placeholder
		font 14px $Reg
		color rgba($dark-secondary-color, .75)
	&:-ms-input-placeholder
		font 14px $Reg
		color rgba($dark-secondary-color, .75)
		
	&__wrapper
		margin-bottom 20px
		position relative
		&:last-child
			margin-bottom 0
		
	&.is-error
		border-color #FF6262
		
	&-light
		color $light-color
		border-color #9bb7d3
		background-color #125397
		&:hover
			border-color $light-color
		&::-webkit-input-placeholder
			font 14px $Reg
			color $light-color
		&::-moz-placeholder
			font 14px $Reg
			color $light-color
		&:-moz-placeholder
			font 14px $Reg
			color $light-color
		&:-ms-input-placeholder
			font 14px $Reg
			color $light-color
	


.checkbox,
.radio
	position relative
	display inline-block
	margin-left 0
	padding-left 30px
	font 1em $Reg
	line-height 1
	color $light-text-color
	transition color .17s ease-in-out
	&:hover
		color $accent-color
	&:before,
	&:after
		pseudo()
		transition all .17s ease-in-out
		position absolute
		left 0
		top -1px
			
	&__label
		cursor pointer
		display inline-block
		input
			display none

.checkbox
	&:before
		border-radius 4px
		width 20px
		height 20px
		border 1px solid $dark-secondary-color
		background-color transparent 
		
		background-position 50% 50% 
		background-repeat no-repeat 
		background-size 10px 10px

	&__label
		input
			&:checked 
				+ span
					color $accent-color
					&:before
						background-image url('../img/icons/svg/checkbox-ic.svg') 
			
.radio
	&:before
	&:after
		border-radius 50%
	&:before
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color $transparent
	&:after
		width 12px
		height 12px
		background-color $light-color
		left 3px
		top 8px
		opacity 0
		
	&__label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1
						

.form
	&__row
		.form__input--wrapper
			width 50%
			padding 0 15px 30px 15px
			margin-bottom 0
			
		.error
			right 15px
	&__label
		display block
		font 18px $Med
		color $dark-secondary-color
		margin-bottom 10px
		text-align left
	&__input
		display block
		width 100%
		border-radius 5px
		background-color $input-bg
		border 1px solid transparent
		padding 10px
		font 16px $Reg
		color $dark-color
		&:hover,
		&:focus
			border-color $secondary-color
			
		&.is-error
			background-color $error-color
			~ span.error
				display block
		
		&--wrapper
			margin-bottom 30px
			position relative
				
.error
	display none
	position absolute
	right 0
	top 5px
	font-size 12px
	color $dark-color

				
.textarea
	min-height 200px

		