.with-ic
	position relative
	padding-left 25px
	
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 16px
		height 16px
		background-size 16px 16px
		background-position 50% 50%
		background-repeat no-repeat
	
.ic
	&-address
		&:before
			background-image url('../img/icons/svg/header_top_location.svg')
	&-worktime
		&:before
			background-image url('../img/icons/svg/header_top_time.svg')
	&-mail
		&:before
			background-image url('../img/icons/svg/header_top_mail.svg')

			
.mail-link
	display inline-block
	color $dark-secondary-color
	line-height 1
	font-size 18px
	position relative
	padding-left 35px
	&__ic
		display block
		width 24px
		height 18px
		position absolute
		vertical-center()
		left 0
		svg
			svg()
			fill $accent-color
	&:hover
		color $accent-color
	
	&-light
		color rgba($light-color, .6)
		svg
			fill $light-color
		&:hover
			color $light-color
		

		

			
.tooltip
	position absolute
	text-align center
	display inline-block
	padding 5px 8px
	background-color $dark-secondary-color
	color $light-color
	border-radius 3px
	horisontal-center()
	z-index 2
	font 11px $Reg
	white-space nowrap
	letter-spacing 0
	top 100%
	opacity 0
	visibility hidden
	margin-top 15px
	transition all .17s ease-in-out
	&:before
		pseudo()
		width 0
		height 0
		border-style solid
		border-width 0 5px 5px 5px
		border-color transparent transparent $dark-secondary-color transparent
		position absolute
		horisontal-center()
		top -4px
	&__wrapper
		position relative
		&:hover
			.tooltip
				opacity 1
				visibility visible
				margin-top 5px

.socials
	font-size 0
	&__item
		display inline-block
		margin-right 20px
		&:last-child
			margin-right 0
	&__link
		display block
		width 16px
		height 16px
		opacity .6
		&:hover
			opacity 1
		
		&--ic
			display block
			width 100%
			height 100%
		
		svg
			svg()
			fill $accent-color
			

.phones
	position relative
	padding-left 35px
	display flex
	flex-direction column
	
	
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		background-repeat no-repeat
		background-position left 50%
		width 32px
		height 32px
		
	&-ic-top
		&:before
			transform none
			top 0
		
	&-mob
		&:before
			background-image url('../img/icons/svg/header_cellphone.svg')
			background-size 18px 32px
		&.phones-light
			&:before
					background-image url('../img/icons/svg/header_cellphone_light.svg')
			
	&-home
		&:before
			background-image url('../img/icons/svg/header_phone.svg')
			background-size 22px 22px
		&.phones-light
			&:before
					background-image url('../img/icons/svg/header_phone_light.svg')

			
	&__link
		display inline-block
		line-height 1
		color $darken-secondary-color
		margin-bottom 5px
		font 22px $Med
		white-space nowrap
		&:last-child
			margin-bottom 0
		&:hover
			color $accent-color
			
		&--sm
			font-size 18px
			margin-bottom 10px
			&:last-child
				margin-bottom 0
	
	&-light
		.phones__link
			color rgba($light-color, .6)
			&:hover
				color $light-color
			
.fancy-link
	position relative
	&:before
		pseudo()
		position absolute
		fullSize()
		transition opacity .17s ease-in-out
		background-color rgba($secondary-color, .75)
		opacity 0
	&:after
		pseudo()
		position absolute
		position-center()
		width 40px
		height 40px
		background url('../img/icons/svg/gallery_hover_zoom.svg') 50% 50% no-repeat / 40px 40px
		z-index 1
		transition all .17s ease-in-out
		opacity 0
		margin-top 20px
		
	&:hover
		&:before
			opacity 1
		&:after
			opacity 1
			margin-top 0
			

.read-more-link
	text-transform uppercase
	font 12px $Bold
	color $secondary-color
	&:hover
		color $accent-color
		