.price
	position relative
	&:after
		content '\20BD'
		display inline-block
		margin-left 3px
		
	&-old
		text-decoration line-through
		font-size .5em
		color $old-price-color
		
	&.is-stock
		color $stock-color
	&.is-actual
		color $actual-color