.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
	&__pagination
		.swiper-pagination-bullet
			width 10px
			height 10px
			border-radius 50%
			border 2px solid $secondary-color
			background-color transparent
			transition all .17s ease-in-out
			opacity 1
			outline none
			margin-right 10px
			&:last-child
				margin-right 0
			&:hover,
			&-active
				background-color $secondary-color
		&--accent
			.swiper-pagination-bullet
				border-color $accent-color
				&:hover,
				&-active
					background-color $accent-color

.swiper-container
	*
		box-sizing border-box			
// Promo
.promo
	
	&-slide
		position relative
		background $color-bg url('../img/promo/decor.png') no-repeat right center 
		
		padding 40px 0
		display flex
		align-items center 
		overflow hidden
		
		.container
			height 100%
		&__content
			display flex
			align-items center
			justify-content space-between
			height 100%
			&--block
				width 55%
				padding-right 5%
			&--img
				width 45%
				flex-col-center()
				height 100%
				img
					display block
					@extends .content-img
				
		&__title
			font 56px $Bold
			color $dark-secondary-color

		&__text
			font-size 24px
			color $light-text-color
			margin-top 50px
			b, strong
				font-family $Med
				
		&__price
			color $accent-color
			margin-top 40px
			font 40px $Bold
			
		.btn__with-logo
			margin-top 60px
			
	&__slider
		position relative
		height 700px
		.swiper-container,
		.swiper-wrapper,
		.swiper-slider,
		.promo-slide
			height 100%
		&--pagination
			position absolute
			horisontal-center()
			z-index 2
			bottom 20px
			text-align center
			span
				pointer-events auto
				
			.swiper-pagination-bullet
				display inline-block
				width 14px
				height 14px
				border-radius 50%
				border 2px solid $secondary-color
				background-color transparent
				transition all .17s ease-in-out
				opacity 1
				outline none
				margin-right 30px
				&:last-child
					margin-right 0
				&:hover,
				&-active
					background-color $secondary-color
					
// Feedbacks slider
.feedbacks
	&__slider
		margin-bottom 50px
		
		.slider__pagination
			margin-top 35px
			
.feedback-slide
	&__text
		padding-top 75px
		background url('../img/icons/svg/reviews_quote.svg') top left no-repeat / 40px 30px
		font 18px $Italic
		line-height 1.9
		color $light-text-color
		margin-bottom 35px
		
	&__information
		color $light-text-color
		font-size 18px
					
			
			