//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================


webfont('TTNorms-Regular', 'TTNorms', 'TTNorms-Regular', true, normal, normal)
webfont('TTNorms-Light', 'TTNorms', 'TTNorms-Light', true, normal, normal)
webfont('TTNorms-Italic', 'TTNorms', 'TTNorms-Italic', true, normal, normal)
webfont('TTNorms-Medium', 'TTNorms', 'TTNorms-Medium', true, normal, normal)
webfont('TTNorms-Bold', 'TTNorms', 'TTNorms-Bold', true, normal, normal)
webfont('TTNorms-ExtraBold', 'TTNorms', 'TTNorms-ExtraBold', true, normal, normal)

