//  Fonts 
$Italic = 'TTNorms-Italic', Arial, sans-serif
$Light = 'TTNorms-Light', Arial, sans-serif
$Reg = 'TTNorms-Regular', Arial, sans-serif
$Med = 'TTNorms-Medium', Arial, sans-serif
$Bold = 'TTNorms-Bold', Arial, sans-serif
$ExBold = 'TTNorms-ExtraBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1560px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 120px 0
$gutter-top = 120px
$gutter-bottom = 120px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #00a8b6
$light-accent-color = #26b5c1
$dark-accent-color = #4495a2

$secondary-color = #004995
$dark-secondary-color = #162648
$darken-secondary-color = #012148

$text-color = rgba(77, 83, 95, .6)
$light-text-color = #4d535f

$light-color = #fff
$dark-color = #000

$header-top-color = #012148

$phone-link-color = #012148

$border-color = #dae4ef

$input-bg = #edf4f7

// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #004995

$search-input-bg = #f7f9fc

$color-bg = #e5ecf4
$dark-bg = #054a91

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========