.gallery
	&-card
		display block
		position relative
		padding-top 100%
		&__wrapper
			padding 15px
			width 25%
			position relative
			
	&-hidden
		position absolute
		z-index -99
		opacity 0
		visibility hidden
		width 0.01px
		height 0.01px