.page-content
	.article-card__wrapper
		padding 0 15px 45px 15px
		

.article
	max-width 1000px
	margin 0 auto
	
	&__date
		font 14px $Bold
		color rgba($dark-secondary-color, .4)
		line-height 1
		margin-bottom 20px
		

