.checkout
	padding-right 130px
	&__form
		width 100%
		max-width 520px
		padding-right 30px
		
	&-details
		&__order
			border 1px solid $border-color
			&--title
				font 24px $Bold
				color $accent-color
				line-height 1
			&--header
				padding 35px
				border-bottom 1px solid $border-color
				
			&--footer
				padding 35px
				
			&--price
				font 20px $Bold
				color $accent-color
				&_text
					font 18px $Med
					color $accent-color
					

			&--product
				display flex
				align-items flex-start
				justify-content flex-start
				padding 25px 40px 25px 25px
				border-bottom 1px solid $border-color
				position relative
				&_thumbnail
					flex-col-center()
					width 120px
					height 120px
					padding 5px
					img
						@extends .content-img
					&:hover
						opacity .75
						
				&_information
					margin-left 25px
					
					.product__quantity
						margin-bottom 15px
						
					.price
						font 20px $Bold
						color $accent-color
						
					.btn__delete
						position absolute
						right 10px
						top 10px
					
				&_title
					font 18px $Reg
					color $light-text-color
					margin-bottom 15px
					a
						color inherit
						&:hover
							color $secondary-color
					
				





			&--col
				width 100%
				max-width 650px
				padding-left 30px
		
