.feedback
	padding 40px 0
	border-bottom 1px solid $border-color
	&:first-child
		border-top 1px solid $border-color
	&__content
		padding-left 100px
		position relative
		&:before
			pseudo()
			top 0
			left 0
			width 52px
			height 40px
			position absolute
			background url('../img/icons/svg/quote.svg') 50% 50% no-repeat / contain
	&__name
		font 20px $Bold
		color $dark-secondary-color
		margin-bottom 15px
		
	&__date
		color $light-text-color
		margin-bottom 30px
		
	&__text
		font-size 18px
		line-height 1.5
		
	&__answer
		margin-top 40px
		padding-left 200px
		&--content
			padding-top 40px
			border-top 1px solid $border-color
			
	&-form
		max-width 1000px
		margin 0 auto
		
