.block__404
	text-align center
	padding-top 50px
	.sect__title
		margin-bottom 20px !important
	img
		margin-bottom 30px
		display inline-block
		position relative
		margin-top -60px
		max-width 75%
		z-index -1
	
	p
		margin-bottom 30px
		font 24px $Med
		
.thanks
	.sect__title
		margin-bottom 40px
		
	p
		margin-bottom 40px
		
	img
		margin-bottom 50px
		max-width 75%