.page-contacts
	.map
		&__wrapper
			margin-top 0
			height 100%
		&__col
			flex 1
	
	.contacts
		&__col
			width 400px
			padding-right 100px
			
	&__item
		margin-bottom 50px
		color $dark-secondary-color
		font-size 18px
		a
			color $dark-secondary-color
			font 24px $Med
			letter-spacing 0.1em
			&:hover
				color $secondary-color
		&:last-child
			margin-bottom 0
			
		&--title
			font 20px $Bold
			color $dark-secondary-color
			margin-bottom 15px
			
		