// Categories
.sect__categories
	.sect__title
		margin-bottom 85px
		
.category
	text-align center
	border 1px solid $border-color
	transition all .17s ease-in-out
	background-color $light-color
	padding 55px 15px 40px 15px
	height 100%
	&:hover
		border-color $accent-color
		box-shadow 0px 10px 40px 0px rgba(0, 0, 0, 0.08)
	&__wrapper
		width 20%
		padding 15px
	&__ic
		display block
		margin 0 auto 55px auto
		width 120px
		height 120px
		background-position 50% 50%
		background-repeat no-repeat
		background-size 120px 120px
	&__title
		font 24px $Bold
		color $dark-secondary-color
		transition all .17s ease-in-out
		
	.btn
		margin-top 40px
	
	&__link
		display block
		text-align center
		.category
			&__ic
				width 90px
				height 90px
				margin-bottom 35px
				background-size 90px 90px
			&__title
				font-size 18px
				border-bottom 1px solid transparent
				
		&:hover
			.category__title
				color $secondary-color
				border-color inherit
				
// Section form
.sect__form
	padding 200px 0
.form
	&__block
		border-radius 5px
		background $dark-bg url('../img/backgrounds/waves-bg.png') 50% 50% no-repeat / cover
		padding 70px 130px
		
		.sect__title
			margin-bottom 30px
	&__content
		position relative
		max-width 750px
		
		img
			display block
			position absolute
			left 100%
			vertical-center()
			margin-left 80px
			max-width 380px
		
	&__text
		font-size 18px
		margin-bottom 30px
		line-height 1.9
		
	&__notice
		font-size 12px
		margin-top 10px
		a
			color inherit
			text-decoration underline
			&:hover
				text-decoration none

.input__col
	padding 15px
	width 33.3333%
	.btn
		width 100%
		padding-left 15px
		padding-right 15px

// Sect services
.sect__services
	padding-bottom 85px
	
.block-with-ic
	display flex
	justify-content flex-start
	align-items flex-start
	&__ic
		flex none
		width 55px
		height 55px
		background-position 50% 50%
		background-repeat no-repeat
		background-size 55px 55px
		position relative
		margin-right 40px
		// &:before
		// 	pseudo()
		// 	position absolute
		// 	z-index -1
		// 	width 100%
		// 	height 100%
		// 	border-radius 50%
		// 	background-color rgba($accent-color, .08)
		// 	left 10px
		// 	vertical-center()
	&__content
		p
			color rgba($light-text-color, .8)
			line-height 1.9
	&__title
		font 20px $Bold
		color $dark-secondary-color
		margin-bottom 20px
		a
			color inherit
			border-bottom 1px solid transparent
			&:hover
				color $secondary-color
				border-color inherit
				
.service__wrapper
	padding 15px
	width 25%
	&:hover
		.block-with-ic__title
			a
				color $secondary-color
				border-color inherit
				
// Section about
.sect__about
	background url('../img/backgrounds/water-bg.png') center top no-repeat / cover
	padding 180px 0 100px 0
	min-height 850px
	
.about-us
	&__preview
		margin-bottom 40px
		color $light-text-color
		font-size 18px
		p
			line-height 1.9

		img
			display block
			max-width 300px
			margin-bottom 50px
			
		h2,h3,h4,h5,h6
			font-family $Bold
			color $dark-secondary-color
		
		h3
			font-size 30px
			margin-bottom 40px
			
		h4
			font-size 26px
			margin-bottom 35px
			
		h5
			font-size 22px
			margin-bottom 30px
			
		h6
			font-size 18px
			margin-bottom 25px
		
		b, strong
			font-family $Bold
		i
			font-family $Italic
		a
			color $secondary-color
			border-bottom 1px solid
			&:hover
				color $accent-color
				border-color inherit
				
		&--block
			max-width 750px


// Advantages
.advantages
	&__row
		margin-left -80px
		margin-right -80px
	&__items
		width 50%
		padding 15px 80px
	&__cards
		width 50%
		padding 0 65px
		display flex
		flex-wrap wrap
		justify-content flex-start
		
.advantage
	margin-bottom 50px
	&:last-child
		margin-bottom 0
	.block-with-ic__title
		font-size 24px
		margin-bottom 15px
		
	&-card
		border-radius 5px
		background-color $secondary-color
		background-repeat no-repeat
		flex-col-center()
		color $light-color
		height 100%
		text-align center
		&__num
			font 60px $ExBold
			display block
			margin-bottom 20px
		
		&__wrapper
			width 50%
			padding 15px
			
			&:nth-child(1)
				.advantage-card
					background-image url('../img/backgrounds/waves/1.png')
					background-position bottom left
			&:nth-child(2)
				.advantage-card
					background-image url('../img/backgrounds/waves/2.png')
					background-position bottom left
			&:nth-child(3)
				.advantage-card
					background-image url('../img/backgrounds/waves/3.png')
					background-position top left
			&:nth-child(4)
				.advantage-card
					background-image url('../img/backgrounds/waves/4.png')
					background-position top left
			
// Gallery
.gallery
	&-item
		display block
		overflow hidden
		padding-top 62%
		
		
		&__wrapper
			padding 15px
			
	&__col
		width 33.3333%
		&:nth-child(2)
			.gallery-item
				padding-top 0
				height 100%
				&__wrapper
					height 100%
					
// Feedbacks
.sect__feedbacks
	padding 100px 0
	
	
.feedbacks
	&__block
		max-width 750px
		.sect__title
			margin-bottom 60px	
			
//Clients
.client
	flex-col-center()
	padding 20px
	border 1px solid $border-color
	background-color $light-color
	height 100%
	img
		@extends .content-img
	&:hover
		border-color $accent-color
		box-shadow 0px 10px 40px 0px rgba(0, 0, 0, 0.08)
		
	&__wrapper
		width 25%
		padding 15px 

// Articles

.article-card
	&__thumbnail
		display block
		overflow hidden
		border-radius 5px
		height 250px
		position relative
		backface-visibility hidden
		
		img
			position absolute
			position-center()
			width 100%
			height 100%
			will-change transform
			transition transform .17s ease-in-out
		&:hover
			img
				transform translate(-50%, -50%) scale(1.05, 1.05)
		&--wrapper
			margin-bottom 30px
			position relative
	
	&__date
		position absolute
		top 20px
		left 0
		z-index 1
		background-color $accent-color
		width 110px
		flex-col-center()
		text-align center
		font 12px $Med
		color $light-color
		padding 10px
		&:before
			pseudo()
			height 100%
			position absolute
			right 100%
			top 0
			background-color $accent-color
			width 10px
		&:after
			pseudo()
			position absolute
			right 100%
			top 100%
			width 0
			height 0
			border-style solid
			border-width 0 10px 5px 0
			border-color transparent $accent-color transparent transparent
	&__content		
		p
			margin-bottom 30px
			
	&__title
		color $dark-secondary-color
		font 18px $Bold
		margin-bottom 20px
		a
			color inherit
			border-bottom 1px solid transparent
			&:hover
				color $secondary-color
				border-color inherit
	&__wrapper
		width 25%
		padding 15px
		
// Section seo
.sect__seo
	background url('../img/backgrounds/water-top.png') top center no-repeat / auto 556px
	padding-top 420px
	padding-bottom 200px
	
	.sect__title
		margin-bottom 60px
		
.seo-content
	padding-right 130px
	p
		margin-bottom 30px
