@import '_page-index.styl'
@import '_page-catalog.styl'
@import '_page-search.styl'
@import '_page-product.styl'
@import '_page-blog.styl'
@import '_page-service.styl'
@import '_page-about.styl'
@import '_page-technical.styl'
@import '_page-cart.styl'
@import '_page-checkout.styl'
@import '_page-feedbacks.styl'
@import '_page-clients.styl'
@import '_page-gallery.styl'
@import '_page-contacts.styl'